root = true

###############################
# Core EditorConfig Options   #
###############################

# All files
[*]
indent_style = space
charset = utf-8

[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj,props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct,proto,json}]
indent_size = 2

[*.cs]
indent_size = 4
dotnet_sort_system_directives_first = true

# Wrapping preferences
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

